@use '../../../styles/scss/styles.scss' as m;

.background {
	background-image: url('../../../assets/bg-blurs.png');
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

.right-content-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
}

.code-snippet-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.computer-img {
	width: 350px;
	border-radius: 12px;
	box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
}