@use '../../styles/scss/styles.scss' as m;

@media screen and (min-width: 992px) {
  .article-btn {
    background-color: unset;
    border: none;
    width: 25%;
    margin: 0px;
    border-bottom: 1px solid m.$secondary;
    border-right: 1px solid m.$secondary;
    white-space: nowrap;
  }
}

.tab-padding {
  padding: 17px !important;
}
