@media (width < 768px) {
	.flex-768-column {
		flex-direction: column;
	}
	.d-768-none {
		display: none !important;
	}
	.link {
		width: 100%;
	}
	.applayout {
		height: 100%;
	}
	html,
	body,
	.App {
		height: auto !important;
	}
}
