@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html,
body,
#root {
	font-family: 'Fira Code', monospace;
}

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: unset;
	text-decoration: none;
	scrollbar-color: red #010c15 !important;
	scrollbar-width: 200px !important;

}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body,
#root,
.App {
	margin: 0px;
	background-color: #010c15;
	font-size: 14px;
	letter-spacing: -0.7px;
	width: 100% !important;
	height: 100% !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.App {
padding: 10px;}

.primary {
	color: #607b96 !important;
}

.app-bg {
	background-color: #011627;
}

.my-border-top {
	border-top: 1px solid #1e2d3d;
}

.my-border-bottom {
	border-bottom: 1px solid #1e2d3d;
}

.my-border-left {
	border-left: 1px solid #1e2d3d;
}

.my-border-right {
	border-right: 1px solid #1e2d3d;
}

.icons {
	margin-left: 10px;
}

a:hover {
	text-decoration: none;
	color: unset;
}

.active {
	border-top-color: transparent;
	color: #ebebeb;
}

.link {
	border-top-color: 2px solid transparent;
	width: 100px;
}

.link:hover {
	color: #ebebeb !important;
	border-bottom: 2px solid orange;
}

.text-decoration-underline-hover:hover {
	text-decoration: underline;
}

.hover:hover {
	color: #ebebeb;
}

.cursor-pointer {
	cursor: pointer;
}

.margin-left {
	margin-left: 45px;
}

.margin-top-5 {
	margin-top: 5px;
}

.padding-bottom-12 {
	padding-bottom: 12px;
}

.line-height-20 {
	line-height: 20px;
}

.margin-left-28 {
	margin-left: 28px;
}

.margin-right-5 {
	margin-right: 5px;
}

.portfolio-img-style {
	filter: saturate(0);
	opacity: 0.6;
	object-fit: cover;
	height: 250px;
}

.portfolio-img-style:hover {
	filter: saturate(0.8);
	opacity: 0.8;
}

.scroll-portfolio {
    overflow-y: scroll;
	max-height: 600px;
	padding: 40px;
}

.applayout {
width: 95%;
height: 95%;
}









/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #273e47 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #1e2d3d;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #607b96;
    border-radius: 0px;
    border: 0px solid #ffffff;
  }