@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: unset;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
#root,
.App {
  height: 100%;
  font-size: 14px;
  letter-spacing: -0.7px;
  height: 100%;
  font-family: 'Fira Code', monospace;
  background-color: #011627;
  width: 100%;
}

@media screen and (min-width: 992px) {
  #root {
    border: 1px solid #1e2d3d;
    padding: 0px !important;
    border-radius: 12px;
  }

  @media screen and (min-width: 992px) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #root {
      max-width: 77vw;
      max-height: 77vh;
    }
  }

  @media screen and (max-width: 1200px) {
    #root {
      max-width: 95vw;
      max-height: 95vh;
    }
  }

  html,
  body,
  #root,
  .App {
    padding: 30px;
    background-color: #010c15;
  }
}
.height-auto {
  height: auto;
}

#root {
  height: 100%;
  width: 100%;
}

.primary {
  color: #607b96 !important;
}

.app-bg {
  background-color: #011627;
}

.my-border-top {
  border-top: 1px solid #1e2d3d;
}

.my-border-bottom {
  border-bottom: 1px solid #1e2d3d;
}

.my-border-left {
  border-left: 1px solid #1e2d3d;
}

.my-border-right {
  border-right: 1px solid #1e2d3d;
}

.no-border {
  border: none;
}

.icons {
  margin-left: 10px;
}

a:hover {
  text-decoration: none;
  color: unset;
}

.text-decoration-underline-hover:hover {
  text-decoration: underline;
}

.hover:hover {
  color: #ebebeb;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-top-5 {
  margin-top: 5px;
}

.padding-bottom-12 {
  padding-bottom: 12px;
}

.line-height-20 {
  line-height: 20px;
}

.margin-left-28 {
  margin-left: 28px;
}

.margin-right-5 {
  margin-right: 5px;
}

.applayout {
  position: relative;
  height: 100%;
}

/* ===== Scrollbar CSS ===== */

/* Firefox */

* {
  scrollbar-width: auto;
  scrollbar-color: #273e47 #ffffff;
}

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #1e2d3d;
}

*::-webkit-scrollbar-thumb {
  background-color: #607b96;
  border-radius: 0px;
  border: 0px solid #ffffff;
}
