@use '../../../../../styles/scss/styles.scss' as m;

.card-title {
  color: m.$purple;
  font-weight: bold;
}

.subcard-title {
  color: m.$primary;
  font-weight: normal;
}

.card {
  max-width: 350px;
}

.portfolio-img-style {
  object-fit: cover;
  height: 150px;
  width: 350px;
  opacity: 0.8;
}

.portfolio-img-style:hover {
  filter: saturate(0.8);
  opacity: 1;
  cursor: pointer;
}

.scroll-portfolio {
  overflow-y: scroll;
}
