@use '../../../../../styles/scss/styles.scss' as m;

.folder-bar-title {
	width: 100%;
	padding: 10px;
	display: flex;
	margin: 0px;
	color: m.$primary;
    &:hover {
        cursor: pointer;
		color: m.$white;
    }
    @media (width < 768px) {
		padding: 15px 0 15px 0;
	}
}