@use '../../../../../styles/scss/styles.scss' as m;
.folder-bar-title {
    width: 100%;
    padding: 10px;
    display: flex;
    margin: 0px;
    color: m.$white;
    &:hover {
        cursor: pointer;
        color: m.$white;
    }
    @media screen and (max-width: 768px) {
        padding: 10px 0 10px 0;
        margin: 6;
    }
}