@use "../../styles/scss/styles.scss" as m;
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: m.$primary;
}

input {
    width: 100%;
    padding: 14px;
    background-color: #011221;
    border: none;
    color: m.$primary;
}

textarea {
    height: 200px;
    background-color: #011221;
    padding: 20px;
    border: none;
    color: m.$primary;
}

form::placeholder {
    color: m.$primary;
}

input::placeholder {
    color: m.$primary;
}

textarea::placeholder {
    color: m.$primary;
}

form,
input,
textarea {
    border: 1px solid m.$secondary;
    border-radius: 12px;
}

.submit-message {
    width: 50%;
    background-color: m.$secondary;
    color: m.$white;
    padding: 14px;
    margin-top: 20px;
}

.input-labels {
    color: m.$primary !important;
    margin-bottom: 10px;
    margin-left: 5px;
}