@use '../../../styles/scss/styles.scss' as m;

.card-title {
  color: m.$purple;
  font-weight: bold;
}

.subcard-title {
  color: m.$primary;
  font-weight: normal;
}

.card {
  max-width: 350px;
  min-width: 250px;
  &-body {
    padding: 0px;
  }
}

.portfolio-img-style {
  object-fit: cover;
  filter: saturate(0.7);
  height: 150px;
}

.scroll-portfolio {
  overflow-y: scroll;
}

@media screen and (max-width: 992px) {
  .portfolio-img-style {
    object-fit: cover;
    filter: saturate(0.7);
    height: 100%;
  }
}
