@use '../../styles/scss//styles.scss' as m;
.folder-container {
    width: 250px;
    @media (width < 768px) {
        width: 100%;
        height: auto;
    }
}

.primary-icon {
    color: m.$primary
}

.about-me-title {
    color: m.$primary;
    padding: 20px;
    margin: 0;
}

.folder-menu {
    color: m.$white;
    background-color: m.$secondary;
    margin: 5px 0 5px 0px;
}