@use "../../../../styles/scss/styles.scss" as m;

.tab- {
    height: auto;
    width: 100%;
    &title {
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        border-right: 1px solid m.$secondary;
        align-items: center;
        color: m.$primary;
        padding: 15px;
    }
    &title-container {
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        border-bottom: 1px solid m.$secondary;
        border-top: 1px solid m.$secondary;
    }
}

.IoIosClose {
    color: m.$primary;
}

.portfolio-title {
    color: m.$primary;
}

.go-top {
    color: m.$primary
}

.transform-arrow {

    font-size: 20px;
}