@use '../../../styles/scss/styles.scss' as m;

@media screen and (min-width: 768px) {
  .portfolio-container {
    padding: 20px;
    max-height: 600px;
    overflow-y: scroll;
    border-bottom: 1px solid m.$secondary;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-container {
    max-height: 600;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
