@use '../../styles/scss/styles.scss' as m;
@media screen and (min-width: 768px) {
    .container-full-page {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: m.$appBg;
        z-index: 999;
    }
    .progress-bar {
        background-color: m.$primary;
    }
}